In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('restaurant_reviews.csv')
data.head()

                                              Review  Rating
0  This place has the best dumplings I've ever ha...       5
1  Came here on a weekend visit to NY, my friend ...       4
2  The best soup dumplings in NYC! There is no ot...       5
3  I was so disappointed with my visit to Joes. N...       1
4  So much fun!  we stayed at Hotel 50\r\nRight n...       5

In [3]:
data['Sentiment'] = data['Rating'].apply(lambda x: 'Positive' if x >= 4 else 'Negative')

In [4]:
data=data.drop(['Rating'],axis=1)

In [5]:
data.Sentiment.value_counts()

Sentiment
Positive    5042
Negative    2238
Name: count, dtype: int64

In [6]:
# lets extract the same number of positive and negative reviews(2238)
positive = data[data['Sentiment'] == 'Positive'].sample(2238, random_state=42)
negative = data[data['Sentiment'] == 'Negative'].sample(2238, random_state=42)
data = pd.concat([positive, negative]).reset_index(drop=True)
data.Sentiment.value_counts()

Sentiment
Positive    2238
Negative    2238
Name: count, dtype: int64

In [7]:
# put 1 for positive and 0 for negative
data['Sentiment'] = data['Sentiment'].apply(lambda x: 1 if x == 'Positive' else 0)

In [8]:
# lets save this data
data.to_csv('balanced_restaurant_reviews.csv', index=False)